@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

:root {
  --main-bg: lightblue;
  --main-red-color: #28d128;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.b-logo {
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.b-logo img {
  width: 20%;
  height: auto;
}

.underConstruction {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 3;
  background: hsla(219, 95%, 17%, 0.472);
  transform: rotate(23deg);
  width: 110%;
}
.underConstruction h2 {
  font-family: "Special Elite", cursive;
  font-size: 3.5rem;
  color: var(--main-red-color);
  letter-spacing: 0.3rem;
  padding-left: 18rem;
  text-align: center;
}
